.App {
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 400px;
    width: 250px;
    margin: .5em;
    font-size: 13px;
    display: flex;
    flex-direction: column;
    margin-top: 150px;
    background-color: #232631;
}

.App .MessageList {
    box-sizing: border-box;
    flex: 1;
}

.App .MessageForm {
    background: #282B36;
    border-top: 1px solid #ccc;
    border-radius: 0 0 3px 3px;
    box-sizing: border-box;
    flex: 0 0 30px;
}

.chat{
    position: absolute;
    margin: 90px;
    color: white;
}

.logo{
    position: absolute;
    width: 100px;
    height: 30px;
    left: 70px;
    top: 22px;
}

.vector{
    margin-left: 200px;
    margin-right: 7px;
}

.divVector{
    display: flex;
    align-items: center;
}