.Message {
  line-height: 1.5em;
  background-color: #282B36;
  border-radius: 0px 12px 12px 12px;
  margin: 10px;
  padding: 10px;
  color: white;
}

.Message.log {
  color: #bbb;
}

.Message .author {
  font-weight: bold;
  color: #888;
  margin: 0 5px 0 0;
}

.Message.me .author {
  color: #b6191e;
}
