.number{
    padding: 10px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 100px;
    margin: 3px;
    width: 40px;
    height: 40px;
    line-height: 20px;
    font-size: 15px;
    color: white;
}
.red{
    background:  #FB4566;
}
.black{
    background: #9296A3;
}
.green{
    background: #57FF7B;
}