.container {
    width: calc(50% - 20px);
    padding: 20px;
    margin: 10px;
    height: 100%;
    color: white;
    position: absolute;
    right: 0;
    top: 50px;
    display: flex;
    justify-content: flex-end;
}
.last_win{
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    position: absolute;
}

.last_win1{
    display: flex;
    align-items: center;
    position: absolute;
    top: 80px;
}

.text{
    font-size: 20px;
    margin-right: 20px;
}