body {
    margin: 0;
    font-family: 'Space Grotesk';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #272A30;
    background-image: url("images/image33.svg");
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}